<!DOCTYPE html>
<html lang="en">
<head>
   {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">
       <link rel="icon" type="image/png" href="{{ url_for('static', filename='index180.png') }}"/>
       <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        {#<link rel="stylesheet" href="{{ url_for('static', filename='style_pagination.css') }}">#}

        {#<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>#}
    {% endblock %}
            </head>
<body>

<div id="content" style="margin-right: 20%; margin-left: 20%;margin-top: 5%; text-align: center">
    <h1 style="color: white">что - то накрылось звоните фиксикам </h1>
    <img src="{{ url_for('static', filename='images/fix.png') }}" style="text-align: center"><br>
    <a href="javascript:sh()" style="color: white"><h2 style="color: white">а кто такие фиксики ?</h2></a><br />
    <div id="info" style="{#padding-top:15px;#}float:center;  width: 60%; min-width: 560px; min-height: 315px;height: auto; text-align: center;margin-left: 20%;margin-right: 40%" >
        <iframe width="100%"  style="min-width: 560px;min-height: 315px; height: auto" src="https://www.youtube.com/embed/9MH5RgPdmRE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
    <script type="text/javascript">
        sh();
        function sh() {
            obj = document.getElementById("info");
            if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }
        }
    </script>
    <style>
        a{
            text-decoration: none;
        }
    </style>
    <a href="/sign_in"><input type="button" class="form-control" value="к главной"></a>

</div>
</body>
</html>