<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='index180.png') }}"/>
	<meta charset="UTF-8">
	<title>вход</title>
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css'>
    {#<link rel="stylesheet prefetch" href="{{ url_for('static', filename='font-awesome.min.css') }}">#}

</head>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
    jQuery(function($){
        $("#phone").mask("+38(099) 999-9999");
    });
</script>

<body>
{% if message %}
  <div style="text-align: center;"><h1 style="color: red">{{message}}</h1></div>
{% endif %}
<div class="box">
  <nav id="tabs" class="tabs">
    <a id="tabLogin" class="iconLogin {% if is_registration == False %} active {% endif %} blueBox" title="Войти"></a>
    <a id="tabForgot" class="iconForgot redBox" title="Забыл пароль?"></a>
  </nav>
  <div class="containerWrapper">
    <!-- login container -->
    <div id="containerLogin" class="tabContainer active">
      <form action="{{url_for('sign_in')}}" method="post" >
      <h2 class="loginTitle">Авторизация</h2>
      <div class="loginContent">
        <div class="inputWrapper">
          <input type="text" placeholder="email" name="login" pattern="([\w\d_\.-]+)@([\w\.-]+)(\.[\w\.]+)" required>
        </div>
        <div class="inputWrapper">
          <input type="password" placeholder="пароль" name="password"  pattern="[A-Za-z0-9]{5,}" required>
        </div>
      </div>
      <button class="blueBox"><span class="iconLogin"></span> Войти</button>
      <div class="clear"></div>
    </form>
    </div>


    <div class="clear"></div>

      <!-- forgot container -->
    <div id="containerForgot" class="tabContainer">
      <form action="{{ url_for('restore') }}" method="post">
        <h2 class="loginTitle">Восстановления пароля</h2>
        <div class="loginContent">
          <div class="inputWrapper">
            <input type="text" name="email" placeholder="Ваш email" pattern="([\w\d_\.-]+)@([\w\.-]+)(\.[\w\.]+)" />
          </div>
          <div class="placeholder"></div>
        </div>
        <button class="redBox"><span class="iconForgot"></span> Восстановить</button>
        <div class="clear"></div>
      </form>
    </div>
    <div class="clear"></div>
  </div>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</div>
</body>
</html>