{% extends 'admin/layout.html' %}

{% block content %}
    {% if message %}
        <h1 style="color: red">{{ message }}</h1>
    {% endif %}
    {% if admin %}
        <form action="{{ url_for('update_admin') }}" method="post" enctype="multipart/form-data">
            <table width="100%">
                <tr>
                    <td>Ф.И.О</td>
                    <td><input type="text" class="form-control" name="full_name" value="{{ admin['full_name'] }}"></td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td><input type="text" class="form-control" name="phone" readonly value="{{ admin['phone'] }}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" class="form-control" name="email" value="{{ admin['email'] }}" pattern="([\w\d_\.-]+)@([\w\.-]+)(\.[\w\.]+)" required></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="password" class="form-control" name="password" pattern="[A-Za-z0-9]{5,}" ></td>
                </tr>
                <tr>
                    <td>Город</td>
                    <td>
                        <div style="margin:0px auto;margin-top:30px;">
                        <select class="chosen" name="city" required >
                            {% for c in cities %}
                                <option value="{{ c['id_city'] }}" {% if c['id_city']|int == admin['id_city']|int %}selected{% endif %}>{{ c['title'] }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <script type="text/javascript">
                            $(".chosen").chosen();
                            </script>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>Текущее фото</td>
                    <td colspan=""><img src="{{ admin['path_img'] }}"c width="200px"></td>
                </tr>
                <tr>
                    <td>Загрузить</td>
                    <td><input type="file" name="file" class="form-control" accept="image/*"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="text-align: center;">
                    <br><td colspan="2"><input type="submit"  class="form-control" value="Обновить"></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}