{% extends 'admin/layout.html' %}
{% block scripts %}
<script>


    function generatePassword() {
        var length = 6,
            charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
            retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        console.log(retVal)
        document.getElementById('password').value = retVal;

}
 function generatePassword_() {
        var length = 6,
            charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
            retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        console.log(retVal)
            document.getElementById('password_').value = retVal;
}

</script>
{% endblock %}


{% block content %}

    {%  if message %}
        <h1 style="color: red" id="message"> {{ message }}</h1>
    {% endif %}
    {% if partner %}
        <form method="post" action="{{ url_for('update_partner',id_partner=partner['id_partner']) }}">
        <table >
            <tr>
                <td>Ф.И.О.</td>
                <td><input type="text" name="full_name"  class="form-control"  value="{{ partner['name_partner'] }}" required></td>
                                <td></td>

            </tr>
            <tr>
                <td>ТЕЛЕФОН</td>
                <td><input type="text" name="phone" placeholder="+127468"  class="form-control"  readonly value="{{ partner['phone'] }}"></td>
                                <td></td>

            </tr>
            <tr>
                <td>ПОЧТА</td>
                <td><input type="text" name="email"  class="form-control"  {% if partner['email'] %}value="{{ partner['email'] }}" required{% endif %} pattern="([\w\d_\.-]+)@([\w\.-]+)(\.[\w\.]+)"></td>
                <td></td>
            </tr>
            <tr>
                <td>ПАРОЛЬ</td>
                <td><input type="text"   class="form-control"  name="password" id="password_" pattern="[A-Za-z0-9]{5,}" ></td>
                    <td><input type="button"   class="form-control"  value="сгенерировать" onclick="generatePassword_()"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan=""> <input type="submit"  class="form-control"  value="изменить"></td>
                <td></td>
            </tr>
        </table>
    </form>
    {% endif %}
    <a href="javascript:sh()" style="color: #678889">
         <button type="button" class="form-control">Добавить партнера    <img src="{{ url_for('static', filename='images/plus.svg') }}" width="12px"> </button>
     </a>
    <br/>
    <div id="info_" style="padding-top:15px; text-align: center" >
        <form method="post" action="{{ url_for('partner') }}" class="form-inline" >
        <table width="100%">
            <tr>
                <td>Ф.И.О.</td>
                <td><input type="text" name="full_name"  class="form-control" {% if full_name %}value="{{ full_name }}"{% endif %} required></td>
                                <td></td>

            </tr>
            <tr>
                <td>ТЕЛЕФОН</td>
                <td><input type="text" name="phone"  class="form-control" placeholder="+127468" required></td>
                                <td></td>

            </tr>
            <tr>
                <td>ПОЧТА</td>
                <td><input type="text" name="email"  class="form-control" {% if email %}value="{{ email }}"{% endif %} pattern="([\w\d_\.-]+)@([\w\.-]+)(\.[\w\.]+)"></td>
                <td></td>
            </tr>
            <tr>
                <td>ПАРОЛЬ</td>
                <td><input type="text" name="password" class="form-control" id="password" pattern="[A-Za-z0-9]{5,}" required></td>
                    <td><input class="form-control" type="button" value="сгенерировать" onclick="generatePassword()"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan=""> <input type="submit" class="form-control" value="создать"></td>
                <td></td>
            </tr>
        </table>
    </form>
    </div>
    <script type="text/javascript">
        sh();
        function sh() {
            generatePassword();
            obj = document.getElementById("info_");
            if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }
        }
        </script>
    <br>
    {% if partners %}
        <table class="table">
            <tr>
                <td>photo</td>
                <td>name</td>
                <td>phone</td>
                <td>email</td>
                <td></td>
            </tr>
        {% for p in partners %}
            <tr {% if partner %}{% if partner['id_partner'] == p['id_partner'] %} class="active" style="color: #3f9db8" {% endif %}{% endif %}>
                <td><img src="{{ p['path_img'] }}" width="50px"> </td>
                <td>{{ p['name_partner'] }}</td>
                <td>{{ p['phone'] }}</td>
                <td>
                    {% if p['email'] %}
                    {{ p['email'] }}
                    {% else %}
                    ---
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('update_partner', id_partner=p['id_partner']) }}" style="text-decoration: none"><input type="button" class="form-control" value="обновить"></a>
                </td>
            </tr>
        {% endfor %}
        </table>


    {% else %}
        <h1 style="color: #6d6d6d">список партнеров пока что пуст</h1>
    {% endif %}


{% endblock %}